page-past-claims {
.button-card {
  background-color: #f53d3d;
  text-decoration-color: white;
}
  .card-theme {
    background-color: #DFBEF5;
  }
  .p1{
    font-weight: bold;
    font-size: medium;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    color: #7e8be3;
  }
  .p2{
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    color: #7e8be3;
    font-size: small;
  }
  .fooz {
    //    padding: -10px;
    margin-top: -15px;
    margin-left: -5px;
    //    font-style: italic;
    color: slategrey;
  }
}
