
page-current-claim {
  .item .item-content {
    background-color: slategrey !important;
  }
  #top-div{
    height: auto;
    background-color: antiquewhite !important;
    padding: 0px;
    color: #f53d3d;
  }

}
